<link rel="stylesheet" type="text/css" href="/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
            <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />


<html>
    <body>
        <header>
    <h2>RemindMe Api</h2>
</header>

<button type="button" onclick="createApiKey()"><i class="fas fa-plus-square"></i> Create Api Key</button>
<p id="buttontext"></p>


<script type="text/javascript" src="/main.js"></script>
    </body>
</html>


